.mainHeader {
    width: var(--headerWidth);
    height: var(--headerHeight);
}

img {
    width: 50px;
    border-radius: 50%;
}

.appNav {
    // display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    align-items: baseline;
    background: var(--appTheam);
}
.brand {
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 0;
}

.appbrand{
    padding: 2px 10px;
    align-items: center;
}