.itemsPage {
    height: 93%;

    .itemImg {
        height: 2.5rem;
        width: 2.5rem;
    }

    .itemEdit {
        margin-right: 9px;
        cursor: pointer;
    }

}



.indexWidth {
    width: 50px;
}

.imgWidth {
    width: 75px;
    cursor: pointer;
}

.outofstock {
    font-weight: 500;
    color: var(--appOrderPending) !important;
}

.available {
    color: var(--appOrderDelivered) !important;
}

.rupeeicon {
    font-size: 12px;
    margin-right: 2px;
}