.itemsPage {
    height: 93%;

    .itemImg {
        width: 69px;
        height: 50px;
        width: 50px;
    }

    .itemEdit {
        margin-right: 9px;
        cursor: pointer;
    }

}



.indexWidth {
    width: 50px;
}

.imgWidth {
    width: 75px;
}

.outofstock {
    font-weight: 500;
    color: var(--appOrderPending) !important;
}

.available {
    color: var(--appOrderDelivered) !important;
}