.itemsPage {
    height: 93%;
    .itemImg {
        width: 69px;
    }
    .itemEdit {
        margin-right: 9px;
        cursor: pointer;
    }
    // .pageDetails {
    //     height: %;
    // }
}