.myProfile {
    --imageWidht: 146px;
    padding: 0 270px;

    .img {
        height: var(--imageWidht);
        text-align: center;

    }

    .imgWidth {
        width: var(--imageWidht);
    }

    .editIcon {
        position: absolute;
        font-size: 18px;
        right: 14px;
        color: var(--appTheam);
        bottom: 16px;
        cursor: pointer;
    }

    .imgContainer {
        // border: 1px solid gray;
        // border-radius: 50%;
    }

    .fileselection {
        display: none;
    }

    .itemDetails {
        padding: 17px 51px;

        .actionbtn {
            margin-top: 18px;
        }
    }


}

.form-select {
    line-height: 2.7;
}

.address {
    margin-bottom: 9px;
    font-weight: 500;
    color: var(--bs-gray-600);
    font-size: 17px;
}