.Orderpage {
    height: 93%;
    &-id {
        color: var(--appTheam);
        margin-bottom: 0;
    }
    &-actions {
        color: #00000069;
        cursor: pointer;
    }
    &-eye {
        margin-right: 12px;
    }
    &-title {
        color: var(--appPageTitleColor);
    }
}

.filters {
    display: flex;
    padding: 10px 14px;
    justify-content: space-between;
}
.filterOption {
    margin-right: 2%;
}
