.main {
    width: 100%;
    background: #65646466;
    &-container {
        height: calc(100% - var(--headerHeight));
        display: flex;
    }
    &-sidebar{
        width: var(--appSiderbarWidth);
    }
}