.BranchesPage {
    height: 93%;
   
    &-actions {
        color: #00000069;
        cursor: pointer;
       
    }
    &-eye {
        margin-right: 12px;
    }
    &-title {
        // color: var(--appPageTitleColor);
    }
}