.createBranch {
    .branchFrom {
        padding-left: 100px;
        padding-right: 100px;
    }

    .address {
        margin-bottom: 9px;
        font-weight: 500;
        color: var(--bs-gray-600);
        font-size: 17px;
    }
}