:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --headerHeight: 61px;
  --headerWidth: 100%;
  --appSiderbarWidth: 200px;
  --appTheam: #F38B07;
  --appTextColor: '#fffff';
  --appTitleColor: #00000094;
  --appSubTitleColor : #00000078;
  --appPageTitleColor: #00000078;
}

body,
#root {
  height: 100vh;
}
p{
  margin-bottom: 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  /* background-color: var(--appTheam); */
}

.pageTile {
  font-size: 24px;
  font-weight: bold;
  color: var(--appPageTitleColor);
}
.card {
  border: var(--bs-card-border-width) solid #5352521a;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.tableTitle {
  color: var(--appPageTitleColor);
}