.itemsCount {
    background: #0000006e;
    width: 25px;
    height: 25px;
    color: var(--appTextColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.orderItem {
    height: 7rem;
}

.orderImage {
    height: 100px;
    width: 100px;
}

.orderDetial {
    margin-left: 10px;
}

.orderPrice {
    color: var(--appTheam);
    font-size: 16px;
}

.priceSymbole {
    margin-right: 2px;
}

.orderItemName {
    font-size: 15px;
}

.orderCrossIcon {
    color: gray;
    font-size: 13px;
}

.priceIcon {
    margin-right: 2px;
    font-size: 14px;
    color: gray;
}

.itemPrice {
    font-weight: 500;
}

.orderTotal {
    padding-left: 90px;
}

.subTotal {
    height: 2rem;
}

.subtotalBoarder {
    border-bottom: 1px solid #80808029;
}

.subTotal-details {
    text-align: end;
    color: gray;
}

.priceDetails {
    text-align: end;
}

.userName {
    padding-left: 5px;
    color: #000000b0;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.userDetails {
    margin-bottom: 4%;
}

.userAddress {
    height: 3rem;
}

.userCardBoady {
    min-height: 23rem;
}

.userAddressField {
    color: gray
}

.userAddressValue {
    font-weight: 500;
    color: #000000b0
}